body {
    font-family: "TeX Gyre Pagella", "Latin Modern Roman 12", "Source Serif Pro", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
    background-color: #212529;
    font-size: large;
}

kbd,
code {
    font-family: "Latin Modern Mono 12", "Cascadia Code", "JetBrains Mono", "Fira Code", "Courier New", Courier, monospace;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 1px 4px;
}

code {
    font-family: "Latin Modern Mono 12", "Cascadia Code", "JetBrains Mono", "Fira Code", "Courier New", Courier, monospace;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 1px 4px;
    color: white;
    background-color: #212529;
}

kbd {
    background-color: rgb(90, 90, 90);
    color: white;
}